@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid orchid; */
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#canvas {
    /* width: 100%;
    height: 100%; */
    width: 512px;
    height: 512px;
    background-color: black;
    border-radius: 20px;
    border: 10px #303030 solid;
    transition: all 2s ease;

}

.header {
    color: ghostwhite;
    margin: auto;
    font-size: 3.5rem;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;

}

.controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 10px;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.493);
    padding: 10px;
    border-radius: 10px;
}

.label {
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    /* width: 35%; */
}

.file-label {
    background-color: #22a6f2;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

/* .file-upload {
    background-color: #22a6f2;
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

.file-upload::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.file-upload::file-selector-button:hover {
    background: #0d45a5;
} */

.upload {
    position: relative;
    width: 100%;
    padding: 20px;

}

.controls .upload .no-image{
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato ;
    width: 50%;
    transform: translateX(50%);
}

.resolution {
    /* background-color: #22a6f2; */
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 30px;
    margin-block: 5px;
    padding-left: 20px;
    /* border: 3px solid rgb(65, 65, 65); */
    border-radius: 5px;
}



/* Resolution slider */
#range {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

#range::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

#range::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #22a6f2;
    box-shadow: -407px 0 0 400px #22a6f2;
}

#range::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #22a6f2;
    box-shadow: -407px 0 0 400px #22a6f2;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 65%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 15px;
    background: #ccc;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #22a6f2;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #22a6f2;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, .1)
}

.slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.slider::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, .1)
}

.slider:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.slider:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

/* End resolution slider */